<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

<div style="max-width: 520px; margin: 0 auto;">
  <h1><%= title %></h1>

  <p>
    Welcome to our website! We are dedicated to providing you with high-quality content and a seamless online experience. 
    Explore our platform to discover a variety of engaging posts created with Node & Express.js and powered by MongoDB & Mongoose.
  </p>

  <p>Build with passion for a better online experience.</p>
</div>

<%- include('./partials/footer.ejs') %>